<div
        id="editarContato"
        tabindex="-1"
        aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden absolute top-0 right-0 left-0 z-50 justify-center bg-white/30 items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
      >
        <div id="dragzoneEditar" ; class="relative p-4 w-full max-w-md max-h-full">
          <!-- Modal content -->
          <div
            class="relative bg-indigo-300 rounded-lg shadow dark:bg-gray-700"
          >
            <!-- Modal header -->
            <div
              id="dragableEditar"
              class="flex items-center cursor-move z-10 justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
            >
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                Edite seu contato.
              </h3>
              <button
                id="btnClsEditarContato"
                type="button"
                class="end-2.5 text-black bg-transparent hover:bg-indigo-400 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-hide="authentication-modal"
              >
                <svg
                  class="w-3 h-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                  />
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
              <form
                action="/"
                method="post"
                class="w-full max-w-sm mx-auto bg-white p-8 rounded-md shadow-md"
              >
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <div class="mb-4">
                  <label
                    class="block text-gray-700 text-sm font-bold mb-2"
                    for="name"
                    >Nome</label
                  >
                  <input
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Filipi"
                  />
                </div>
                <div class="mb-4">
                  <label
                    class="block text-gray-700 text-sm font-bold mb-2"
                    for="lastName"
                    >Sobrenome</label
                  >
                  <input
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                    type="text"
                    id="lastName"
                    name="lastName"
                    placeholder="Serpa"
                  />
                </div>
                <div class="mb-4">
                  <label
                    class="block text-gray-700 text-sm font-bold mb-2"
                    for="phone"
                    >Telefone</label
                  >
                  <input
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                    type="text"
                    id="phone"
                    name="phone"
                    placeholder="+1 233 2445-2233"
                  />
                </div>
                <div class="mb-4">
                  <label
                    class="block text-gray-700 text-sm font-bold mb-2"
                    for="mail"
                    >E-mail </label
                  >
                  <input
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                    type="email"
                    id="mail"
                    name="mail"
                    placeholder="example@mail.com"
                  />
                </div>
                <div class="flex justify-center">
                  <button
                    class="w-28 bg-indigo-500 text-white text-sm font-bold py-2 px-4 mx-3 rounded-md hover:bg-indigo-600 transition duration-300"
                    type="submit"
                  >
                    Editar       
                  </button>
                  <button
                    class="w-28 bg-red-500 text-white text-sm font-bold py-2 px-4 rounded-md hover:bg-red-600 transition duration-300"
                    id="btnCancelarEditarContato"
                    type="button"
                    action="/"
                  >
                    Cancelar
                  </button>
                </div>
              </form>
            </div>        
          </div>
        </div>
      </div>